<footer>
    <section id="footer">
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <ul>
                        <li><a href="#">About</a></li>
                        <li class="dot"><a href="#">.</a></li>
                        <li><a href="#">Contact</a></li>
                        <li class="dot"><a href="#">.</a></li>
                        <li><a href="#">Term of Use</a></li>
                        <li class="dot"><a href="#">.</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                    <p>© Your Website 2021. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-12">
                    <ul class="d-flex justify-content-end">
                        <li><a href="#"><i class="fab fa-facebook social"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter social ml-3"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram social ml-3"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>